{% extends "base.html" %}

{% block content %}






<div class="container">
		<div class="row">
			<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
				<ul class="event-list">



                {% for i in todo %}

					<li>
						<time >
							<span class="day">{{i.addedDate.day}}</span>
							<span class="month">{{i.addedDate.month}},{{i.addedDate.year}}</span>

						</time>
						<div class="info">
							<a href="{% url 'dashboard:view_task' i.id %}"> <h2 class="title">{{i.taskname}}</h2></a>
							<p class="desc">{{i.taskDescription|truncatechars:50}}</p>
							<ul>
                                <li style="width:50%;">Posted by:<b>{{i.addedBy.username}}</b></li>
                                <li style="width:50%;">Status:<b>{{i.taskStatus}}</b></li>

							</ul>
						</div>

					</li>

                    {% endfor %}




				</ul>
			</div>
		</div>
	</div>
{% endblock content %}